<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" mode="android" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
   </ion-buttons>
    <ion-title>AssistQR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">

  <form #formulario="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input type="email" value="" placeholder="Correo Institucional" name="email"  [(ngModel)]="email" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" value="" placeholder="Contraseña" name="password" [(ngModel)]="password" required>
      </ion-input>
    </ion-item>

    <ion-button class="enviar" type="submit" expand="block">
      Iniciar sesión
    </ion-button>
  </form>
  <img src="assets/logo.png" width="950cm" height="200cm">
</ion-content>
